*.user
ipch
/bin
DuiLib/Build
*.vcxproj.user
*.csproj.user
*.log
*.aps
*.APS
**/ipch
*.suo
*.sdf
*.opensdf
**/obj
**/res
*.zip
**/.vs
**/Release
**/Debug
*.VC.db
*.opendb
ScrCapture/ScrCaptureSkin/ScrCaptureSkin.zip